@model IEnumerable<Fatec_Library.Models.Livro>

@{
    ViewData["Title"] = "Novo Emprestimo";
}

<h1>Novo Emprestimo</h1>
<p>Escolha o Livro que será emprestado</p>

<p>
    <a asp-action="Listar">Voltar a Lista de Emprestimo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Editora)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ano_Publicacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Isbn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cdd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Idioma)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Num_Paginas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Capa_Livro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AreaId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Editora)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ano_Publicacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Isbn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cdd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Idioma)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Num_Paginas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Capa_Livro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AreaId)
            </td>
            <td>
                @Html.ActionLink("Selecionar", "NovoEmprestimo", new { LivroId=item.Id }) 
            </td>
        </tr>
}
    </tbody>
</table>
