@model IEnumerable<Fatec_Library.Models.Emprestimo>

@{
    ViewData["Title"] = "ListarEmprestimo";
}

<h1>ListarEmprestimo</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ra_Aluno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome_Aluno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data_Retirada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data_Devolucao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status_Emprestimo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario_Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Livro_Id)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ra_Aluno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome_Aluno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data_Retirada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data_Devolucao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status_Emprestimo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario_Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Livro_Id)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
