@model Fatec_Library.Models.Emprestimo

@{
    ViewData["Title"] = "Emprestar um Livro";
}

@if (User.IsInRole("Bibliotecaria"))
{
    @if (ViewBag.SemExemplaresDisp == true)
    {

        <div class="row g-3 align-items-center" style="height: 80vh;">
            <p class="alert alert-danger text-center ">

                <strong>Não há exemplares disponiveis</strong> <br />
                <a asp-action="Index" class="text-danger">Volta à lista de livros</a>

            </p>
        </div>

    }
    else
    {

        <h1 class="text-center mt-5 mb-2">Emprestar um Livro</h1>

        <form asp-action="NovoEmprestimo" class="row g-3 mb-5">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>


            <div class="col-md-12 row g-3 gap-3 justify-content-between align-items-center">

                <h3>Informações do Livro</h3>
                <div class="col-md-6 row g-3 justify-content-center">

                    <img src="~/@ViewBag.Livro.capa" alt="Capa do livro" class="border border-danger focus-ring focus-ring-danger p-2 row g-3 justify-content-center rounded-4" style="width: 400px; height: 550px; object-fit: cover; margin:0px;" />

                </div>

                <div class="col-md-6 row g-3">

                    <div class="col-md-12">

                        <label asp-for="Codigo_Exemplar" class="form-label">Tipo de Usuário</label>
                        <select asp-for="Codigo_Exemplar" class="form-select form-select-lg border border-danger focus-ring focus-ring-primary py-1 px-2">
                            <option value="">Selecione o código do exemplar a ser emprestado</option>
                            @foreach (var exemplar in ViewBag.Exemplares)
                            {
                                <option value="@exemplar.Codigo_Exemplar">@exemplar.Codigo_Exemplar</option>
                            }
                        </select>

                    </div>

                    <div class="col-md-12">
                        <label asp-for="Livro.Titulo" class="control-label"></label>
                        <input asp-for="Livro.Titulo" class="form-control form-control-lg border border-danger-subtle focus-ring focus-ring-danger py-1 px-2" readonly />

                    </div>

                    <div class="col-md-12">
                        <label asp-for="Livro.Autores" class="control-label"></label>
                        <input class="form-control form-control-lg border border-danger-subtle focus-ring focus-ring-danger py-1 px-2"
                               value="@string.Join(", ", ViewBag.Livro.autores)"
                               readonly />

                    </div>

                    <div class="col-md-6">
                        <label asp-for="Livro.Ano_Publicacao" class="control-label"></label>
                        <input asp-for="Livro.Ano_Publicacao" class="form-control form-control-lg border border-danger-subtle focus-ring focus-ring-danger py-1 px-2" readonly />
                    </div>

                    <div class="col-md-6">
                        <label asp-for="Livro.Num_Paginas" class="control-label"></label>
                        <input asp-for="Livro.Num_Paginas" class="form-control form-control-lg border border-danger-subtle focus-ring focus-ring-danger py-1 px-2" readonly />
                    </div>

                    <div class="col-md-6">
                        <label asp-for="Livro.Idioma" class="control-label"></label>
                        <input asp-for="Livro.Idioma" class="form-control form-control-lg border border-danger-subtle focus-ring focus-ring-danger py-1 px-2" readonly />
                    </div>

                    <div class="col-md-6">
                        <label asp-for="Livro.Isbn" class="control-label"></label>

                        @{
                            var isbn = new string((Model.Livro.Isbn ?? "").Where(char.IsDigit).ToArray());
                            string isbnFormatado;

                            if (isbn.Length == 13)
                            {
                                // ISBN-13
                                isbnFormatado = $"{isbn.Substring(0, 3)}-{isbn.Substring(3, 2)}-{isbn.Substring(5, 3)}-{isbn.Substring(8, 4)}-{isbn.Substring(12)}";
                            }
                            else if (isbn.Length == 10)
                            {
                                // ISBN-10
                                isbnFormatado = $"{isbn.Substring(0, 2)}-{isbn.Substring(2, 3)}-{isbn.Substring(5, 4)}-{isbn.Substring(9)}";
                            }
                            else
                            {
                                // Caso não tenha o tamanho esperado
                                isbnFormatado = Model.Livro.Isbn ?? "ISBN inválido";
                            }
                        }

                        <input class="form-control form-control-lg border border-danger focus-ring focus-ring-danger py-1 px-2" readonly value="@isbnFormatado" />
                    </div>

                    <div class="col-md-6">
                        <label asp-for="Livro.Cdd" class="control-label"></label>

                        @{
                            var cddFormatado = new string(
                            (Model.Livro.Cdd ?? "").Where(char.IsDigit).ToArray()
                            );

                            var blocos = Enumerable.Range(0, (int)Math.Ceiling(cddFormatado.Length / 3.0))
                            .Select(i => cddFormatado.Substring(i * 3, Math.Min(3, cddFormatado.Length - i * 3)));

                            var cddFinal = string.Join(".", blocos);
                        }

                        <input class="form-control form-control-lg border border-danger focus-ring focus-ring-danger py-1 px-2"
                               readonly
                               value="@cddFinal" />
                    </div>

                    <div class="col-md-6">
                        <label asp-for="Livro.Cdu" class="control-label"></label>
                        <input asp-for="Livro.Cdu" class="form-control form-control-lg border border-danger-subtle focus-ring focus-ring-danger py-1 px-2" readonly />
                    </div>

                    <div class="col-md-6">
                        <label asp-for="Livro.Pha" class="control-label"></label>
                        <input asp-for="Livro.Pha" class="form-control form-control-lg border border-danger-subtle focus-ring focus-ring-danger py-1 px-2" readonly />
                    </div>

                    <div class="col-md-6">
                        <label for="area" class="control-label">Área</label>
                        <input for="@ViewBag.area.Descritivo" value="@ViewBag.area.Descritivo" class="form-control form-control-lg border border-danger-subtle focus-ring focus-ring-danger py-1 px-2" readonly />
                    </div>

                </div>

            </div>

            <hr class="mt-5 mb-2" />

            <div class="col-md-12 row g-3 justify-content-between">
                <h3>Dados do aluno e data de devolução</h3>

                <div class="col-md-6">
                    <label asp-for="Nome_Aluno" class="control-label"></label>
                    <input asp-for="Nome_Aluno" class="form-control form-control-lg border border-danger focus-ring focus-ring-danger py-1 px-2" />
                    <span asp-validation-for="Nome_Aluno" class="text-danger"></span>
                </div>

                <div class="col-md-6">
                    <label asp-for="Ra_Aluno" class="control-label"></label>
                    <input asp-for="Ra_Aluno" class="form-control form-control-lg border border-danger focus-ring focus-ring-danger py-1 px-2" />
                    <span asp-validation-for="Ra_Aluno" class="text-danger"></span>
                </div>


                @if (ViewBag.UserNotFound == true)
                {
                    <div class="alert alert-danger" role="alert">
                        <p>
                            Usuário não encontrado, para finalizar o empréstimo necessário registrá-lo no sistema. <br />
                            <a asp-controller="Usuario" asp-action="Cadastrar" class="text-danger">Clique Aqui</a>
                        </p>

                    </div>
                }


                <div class="col-md-6">
                    <label asp-for="Data_Retirada" class="control-label"></label>
                    <input asp-for="Data_Retirada" class="form-control form-control-lg border border-danger focus-ring focus-ring-danger py-1 px-2" />
                    <span asp-validation-for="Data_Retirada" class="text-danger"></span>
                </div>

                <div class="col-md-6">
                    <label asp-for="Data_Devolucao" class="control-label"></label>
                    <input asp-for="Data_Devolucao" class="form-control form-control-lg border border-danger focus-ring focus-ring-danger py-1 px-2" />
                    <p>Pré-definido para 7 dias, antes de finalizar confirme o periodo de emprestimo.</p>
                    <span asp-validation-for="Data_Devolucao" class="text-danger"></span>
                </div>
            </div>

            <input type="hidden" asp-for="Status_Emprestimo" class="form-control" />

            <input type="hidden" asp-for="Usuario_Id" class="form-control" />

            <input type="hidden" asp-for="Livro_Id" class="form-control" />

            <div class="row g-3 col-md-12 gap-2 justify-content-center">
                <input type="submit" value="Realizar Emprestimo" class="btn btn-red col-md-4" />
                <a asp-action="Index" class="btn btn-outline-danger col-md-4">Voltar</a>
            </div>

        </form>

    }
}
else
{

    <div class="row g-3 align-items-center" style="height: 80vh;">
        <p class="alert alert-danger text-center ">

            <strong>Acesso Negado!</strong> Você não tem permissão para acessar esta página.
            <a asp-action="Index" asp-controller="Home" class="text-danger">Voltar para a página inicial</a>

        </p>
    </div>

}
@section Scripts {
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> <!-- só uma vez -->
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

    <script>
            $(document).ready(function() {
            $('#RA').select2({
                placeholder: 'Selecione o RA',
                allowClear: true,
                ajax: {
                    url: '@Url.Action("GetRAs", "Usuario")',
                    dataType: 'json',
                    delay: 250,
                    data: function(params) {
                        return {
                            term: params.term
                        };
                    },
                    processResults: function(data) {
                        return {
                            results: data.map(function(item) {
                                return { id: item, text: item };
                            })
                        };
                    },
                    cache: true
                },
                minimumInputLength: 2
            });
        });
    </script>

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

}