@model IEnumerable<Fatec_Library.Models.Livro>

@{
    ViewData["Title"] = "Novo Emprestimo";
}

@if (User.IsInRole("684973ab308a13b813d1210c"))
{
<h1 class="text-center">Novo Emprestimo</h1>
<p>Para realizar um novo Emprestimo, selecione um dos Livros abaixo.</p>

<p>
    <a asp-controller="Home" asp-action="Administracao" class="btn btn-red rounded-circle"> <i class="bi bi-arrow-left-circle"></i></a>
</p>


<table class="table table-light table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Editora)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ano_Publicacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Isbn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cdd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Idioma)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Num_Paginas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Capa_Livro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AreaId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Titulo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Editora)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ano_Publicacao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Isbn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cdd)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pha)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Idioma)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Num_Paginas)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Capa_Livro)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AreaId)
                </td>
                <td>
                    @Html.ActionLink("Selecionar", "Create", new { LivroId = item.Id }, new { @class = "btn btn-red" })
                </td>
            </tr>
        }
    </tbody>
</table>


}
else
{
    <div class="alert alert-danger text-center">
        <strong>Acesso Negado!</strong> Você não tem permissão para acessar esta página.

        <a asp-action="Index" asp-controller="Home" class="text-danger">Voltar para a página inicial</a>
    </div>
}