@model Fatec_Library.Models.Livro

@{
    ViewData["Title"] = "Details";
}

@if (User.IsInRole("684973ab308a13b813d1210c"))
{

<section class="meu-container">
    <h2>Detalhes do Livro</h2>
    <hr />
    <div>
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Titulo)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Titulo)
            </dd>

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Autores)
            </dt>
            <dd class="col-sm-10">
                @(string.Join(", ", Model.Autores))
            </dd>

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Editora)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Editora)
            </dd>

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Descricao)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Descricao)
            </dd>

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Ano_Publicacao)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Ano_Publicacao)
            </dd>

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Isbn)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Isbn)
            </dd>

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Cdd)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Cdd)
            </dd>

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Cdu)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Cdu)
            </dd>

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Idioma)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Idioma)
            </dd>

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Num_Paginas)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Num_Paginas)
            </dd>

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Capa_Livro)
            </dt>
            <dd class="col-sm-10">
                @if (!string.IsNullOrEmpty(Model.Capa_Livro))
                {
                    <img src="~/img/capaLivros/@Model.Capa_Livro" alt="Capa do Livro" style="max-width: 200px; height: auto; border: 1px solid #ddd; padding: 5px;" />
                }
                else
                {
                    <span>Nenhuma capa disponível</span>
                }
            </dd>

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.AreaId)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.AreaId)
            </dd>

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Codigo_Exemplar)
            </dt>
            <dd class="col-sm-10">
                @(string.Join(", ", Model.Codigo_Exemplar))
            </dd>

        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Editar</a> |
        <a asp-action="Index" class="btn btn-secondary">Voltar para a Lista</a>

    </div>
</section>

            }
else
{
<div class="alert alert-danger text-center">
    <strong>Acesso Negado!</strong> Você não tem permissão para acessar esta página.

    <a asp-action="Index" asp-controller="Home" class="text-danger">Voltar para a página inicial</a>
</div>
}