@model Fatec_Library.Models.Livro

@{
    ViewData["Title"] = "Details";
}

@if (User.IsInRole("684973ab308a13b813d1210c"))
{

    <section class="meu-container">
        <h2>Detalhes do Livro</h2>

        <div class="col-md-12 row g-3 gap-1 justify-content-between">

            <div class="col-md-6 row g-3 justify-content-center">
                <img src="~/@Model.Capa_Livro" alt="Imagem Preview" style="background:gray; width: 300px; height: 450px; object-fit: cover;" readonly />
            </div>
            <div class="row col-md-6">

                <div class="col-md-12">
                    <label asp-for="Titulo" class="control-label"></label>
                    <input asp-for="Titulo" class="form-control form-control-lg border border-danger focus-ring focus-ring-danger py-1 px-2" readonly />

                </div>

                <div class="col-md-12">
                    <label asp-for="Autores" class="control-label"></label>
                    <input class="form-control form-control-lg border border-danger focus-ring focus-ring-danger py-1 px-2 " value="@string.Join(", ", @Model.Autores)" readonly />
                </div>

                <div class="col-md-6">
                    <label asp-for="Ano_Publicacao" class="control-label"></label>
                    <input asp-for="Ano_Publicacao" class="form-control form-control-lg border border-danger focus-ring focus-ring-danger py-1 px-2" readonly />
                </div>

                <div class="col-md-6">
                    <label asp-for="Num_Paginas" class="control-label"></label>
                    <input asp-for="Num_Paginas" class="form-control form-control-lg border border-danger focus-ring focus-ring-danger py-1 px-2" readonly />
                </div>

                <div class="col-md-6">
                    <label asp-for="Idioma" class="control-label"></label>
                    <input asp-for="Idioma" class="form-control form-control-lg border border-danger focus-ring focus-ring-danger py-1 px-2" readonly />
                </div>

                <div class="col-md-6">
                    <label asp-for="Isbn" class="control-label"></label>
                    <input asp-for="Isbn" class="form-control form-control-lg border border-danger focus-ring focus-ring-danger py-1 px-2" readonly />
                </div>

                <div class="col-md-6">
                    <label asp-for="Cdd" class="control-label"></label>
                    <input asp-for="Cdd" class="form-control form-control-lg border border-danger focus-ring focus-ring-danger py-1 px-2" readonly />
                </div>

                <div class="col-md-6">
                    <label asp-for="Cdu" class="control-label"></label>
                    <input asp-for="Cdu" class="form-control form-control-lg border border-danger focus-ring focus-ring-danger py-1 px-2" readonly />
                </div>

                <div class="col-md-6">
                    <label asp-for="Pha" class="control-label"></label>
                    <input asp-for="Pha" class="form-control form-control-lg border border-danger focus-ring focus-ring-danger py-1 px-2" readonly />
                </div>

                <div class="col-md-6">
                    <label class="control-label">Área</label>
                    <input value="@ViewBag.area?.Descritivo" class="form-control form-control-lg border border-danger focus-ring focus-ring-danger py-1 px-2" readonly />
                </div>


                <div class="col-md-12">
                    <label asp-for="Descricao" class="control-label"></label>
                    <textarea asp-for="Descricao" class="form-control form-control-lg border border-danger focus-ring focus-ring-danger py-1 px-2" readonly> </textarea>
                </div>

            </div>
        </div>

        <div class="col-md-12 mb-5">

            <label class="control-label">Exemplares Disponiveis</label>
            <p> Número de Exemplares disponíveis: @ViewBag.numeroExemplares</p>
            <div class="form-control form-control-lg border border-danger focus-ring focus-ring-danger py-1 px-2 d-flex gap-3">
                @foreach (var exemplares in ViewBag.lista)
                {
                    <p>@exemplares.Codigo_Exemplar</p>
                }
            </div>

        </div>

        <div>
            <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-red">Editar</a> |
            <a asp-action="Index" class="btn btn-secondary">Voltar para a Lista</a>

        </div>
    </section>

}
else
{
    <div class="alert alert-danger text-center">
        <strong>Acesso Negado!</strong> Você não tem permissão para acessar esta página.

        <a asp-action="Index" asp-controller="Home" class="text-danger">Voltar para a página inicial</a>
    </div>
}