@model List<Fatec_Library.Models.Livro>

@{
    ViewData["Title"] = "Lista de livros";
}

@if (User.IsInRole("Bibliotecaria"))
{

    <h1 class="text-center mb-4">Acervo de Livros</h1>
    <a asp-controller="Home" asp-action="Administracao" class="btn btn-red rounded-circle" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Voltar"> <i class="bi bi-arrow-left-circle"></i></a>

    <form asp-action="Buscar" method="get" class="mb-4">
        <div class="input-group">
            <select class="form-select border border-danger focus-ring focus-ring-danger" name="campo" style="max-width: 200px;">
                <option value="Titulo" selected>Título</option>
                <option value="Autores">Autor</option>
                <option value="Cdd">CDD</option>
            </select>
            <input type="text" name="termo" value="@ViewBag.Termo" class="form-control border border-danger focus-ring focus-ring-danger" placeholder="Digite o termo de busca">
            <button type="submit" class="btn btn-danger">Buscar</button>
        </div>
    </form>


    <table class="table table-light table-striped">
        <thead>
            <tr>
                <th>
                    Capa Livro
                </th>

                <th>
                    Titulo
                </th>
                <th>
                    Editora
                </th>
                <th>
                    Autores
                </th>
                <th>
                    Ano Publicacao
                </th>
                <th>
                    ISBN
                </th>
                <th>
                    Idioma
                </th>
                <th>
                    Num. de Páginas
                </th>

                <th>
                    Ações
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <img src="~/@item.Capa_Livro" alt="Capa Livro" style="height: 150px;" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Titulo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Editora)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Autores)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ano_Publicacao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Isbn)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Idioma)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Num_Paginas)
                    </td>

                    <td>
                        <a href="@Url.Action("Edit", new { id = item.Id })" class="btn btn-outline-success" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Editar informações do Livro">
                            <i class="bi bi-pencil"></i>
                        </a>

                        <a href="@Url.Action("Details", new { id = item.Id })" class="btn btn-outline-primary" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Ver mais Informções do Livro">
                            <i class="bi bi-journal-text"></i>
                        </a>

                        <a href="@Url.Action("Delete", new { id = item.Id })" class="btn btn-outline-danger" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Deletar Livro">
                            <i class="bi bi-trash"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>


}
else
{
    <div class="alert alert-danger text-center">
        <strong>Acesso Negado!</strong> Você não tem permissão para acessar esta página.

        <a asp-action="Index" asp-controller="Home" class="text-danger">Voltar para a página inicial</a>
    </div>
}