@model IEnumerable<Fatec_Library.Models.Livro>

@{
    ViewData["Title"] = "Index";
}

@if (User.IsInRole("684973ab308a13b813d1210c"))
{

    <h2>Catálogo de Livros</h2>

    <form asp-action="Buscar" method="get">
        <input type="text" name="termo" placeholder="Buscar livro..." class="form-control" />
        <button type="submit" class="btn btn-primary mt-2">Pesquisar</button>
    </form>

    <h1 class="text-center">Acervo de Livros</h1>

    <p>
        <a asp-controller="Home" asp-action="Administracao" class="btn btn-red rounded-circle"> <i class="bi bi-arrow-left-circle"></i></a>
        <a asp-action="Create" class="btn btn-success"> <i class="bi bi-journal-plus"></i> Registrar um novo Livro</a>
    </p>

    <table class="table table-light table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Capa_Livro)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Titulo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Editora)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Autores)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Ano_Publicacao)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Isbn)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Idioma)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Num_Paginas)
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <img src="~/@item.Capa_Livro" alt="Capa Livro" style="height: 150px;" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Titulo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Editora)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Autores)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ano_Publicacao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Isbn)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Idioma)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Num_Paginas)
                    </td>

                    <td>
                        <a href="@Url.Action("Edit", new { id = item.Id })" class="btn btn-outline-success">
                            <i class="bi bi-pencil"></i>
                        </a>

                        <a href="@Url.Action("Details", new { id = item.Id })" class="btn btn-outline-primary">
                            <i class="bi bi-journal-text"></i>
                        </a>

                        <a href="@Url.Action("Delete", new { id = item.Id })" class="btn btn-outline-danger">
                            <i class="bi bi-journal-plus"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>


}
else
{
    <div class="alert alert-danger text-center">
        <strong>Acesso Negado!</strong> Você não tem permissão para acessar esta página.

        <a asp-action="Index" asp-controller="Home" class="text-danger">Voltar para a página inicial</a>
    </div>
}