@{
    ViewData["Title"] = "Lista de Reservas";
}

<h2>Lista de Reservas</h2>

@if (TempData["Sucesso"] != null)
{
    <div class="alert alert-success">@TempData["Sucesso"]</div>
}
@if (TempData["Erro"] != null)
{
    <div class="alert alert-danger">@TempData["Erro"]</div>
}

<a asp-action="Criar" class="btn btn-danger btn-sm">Nova Reserva</a>

<br>
<br>

<table class="table table-bordered">
    <thead class="table-red">
        <tr>
            <th>Aluno</th>
            <th>Livro</th>
            <th>Data</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Aluno</td>
                <td>@item.Livro</td>
                <td>@item.Data</td>
                <td>
                    <form asp-action="Remover" method="post">
                        <input type="hidden" name="id" value="@item.Id" />
                        <button type="submit" class="btn btn-danger btn-sm"
                                onclick="return confirm('Deseja realmente remover essa reserva?');">
                            Remover
                        </button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
