@model IEnumerable<Fatec_Library.Models.Usuario>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">Lista de Usuarios</h1>

<form asp-action="Buscar" method="get">
    <input type="text" name="termo" placeholder="Buscar usuário..." class="form-control" />
    <button type="submit" class="btn btn-primary mt-2">Pesquisar</button>
</form>

<p>
    <a asp-controller="Home" asp-action="Administracao" class="btn btn-red rounded-circle"> <i class="bi bi-arrow-left-circle"></i></a>
    <a asp-action="Cadastrar" class="btn btn-success"> <i class="bi bi-person-add"></i> Cadastrar Novo Usuario</a>
</p>


<table class="table col-md-12">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ra)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Senha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ra)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Senha)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TipoId)
                </td>
                <td>
                    @Html.ActionLink("Promover", "Promover", new { id = item.Id }) |
                    @Html.ActionLink("Perfil", "Perfil", new { id = item.Id }) |
                </td>
            </tr>
        }
    </tbody>
</table>
